mixin displayRate(rate)
  if rate.rate
    span.type= currency(rate.code)
    span.value= Math.round(rate.rate)

mixin displayStat(value, title, diff)
  if value
    .stat.value-type
      .value= value
      .type
        = title
        if diff && !isNaN(diff)
          = ' '
          span.diff (#{diff < 0 ? '-' : (diff === 0 ? '±' : '+')}#{Math.abs(diff)})

mixin block(b)
  .block
    small.value-type
      span.value #{Math.ceil(b.feeRange[0])}-#{Math.ceil(b.feeRange[b.feeRange.length - 1])}
      span.type sat/vB
    h4.value-type
      span.value ~#{Math.ceil(b.medianFee)}
      span.type sat/vB
    small.txs #{b.nTx} txs
