extends _layout
block content
  - const hasRates = rates && rates.length === 2
  .bg
  .info
    if hasRates
      h3.price.price--dollar
        span.curr $
        span.rate= Math.round(rates[1].rate)

    h1!= blockcount || '&nbsp;'

    if hasRates
      h3.price.price--euro
        span.curr €
        span.rate= Math.round(rates[0].rate)

  if quote
    blockquote
      p= quote.body
      if quote.author && quote.author.name
        p.author= `— ${quote.author.name}`
