extends _layout

mixin displayRate(rate)
  if rate
    span.curr= currency(rate.code)
    span.rate= Math.round(rate.rate)
  else
    | &nbsp;

block content
  - const displayQuote = quote && quote.body.length < 220
  - const displaySecondRate = rate2 && (!displayQuote || quote && quote.body.length < 115)
  .bg
  .info
    h3.price.price--rate1: +displayRate(rate1)
    h1!= blockcount || '&nbsp;'
    h3.price.price--rate2(class=displaySecondRate ? null : 'price--hidden'): +displayRate(rate2)

  if displayQuote
    blockquote
      p= quote.body
      if quote.author && quote.author.name
        p.author= `— ${quote.author.name}`
